@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 48px;
}
.logo1 {
  margin: auto;
  margin-top: 132px;
  width: 125px;
  height: 125px;
}
.header-text-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0px 32px;
}
h2 {
  font-family: Bai Jamjuree;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -2px;
  color: #4c545c;
}
.header-text {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.6px;
  color: #9eabb2;
}
.button-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 32px;
}
.ios-button {
  background: #26bba4;
  border-radius: 28px;
  border: none;
  padding: 13px 50px;
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.ios-button:hover {
  cursor: pointer;
  background-color:#aaeee4;
}
.mac-button {
  background: #6174ff;
  border-radius: 28px;
  border: none;
  padding: 13px 50px;
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.mac-button:hover {
  cursor: pointer;
  background-color: #99a5ff;
}
main {
  margin-top: 160px;
  padding: 0px 32px;
}
section1 {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: center;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h3 {
  font-family: Bai Jamjuree;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.4565216898918152px;
  color: #4c545c;
}
.section1-text {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  color: #9eabb2;
}
.computer-image {
  margin-top: 33px;
}

.section1-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.container-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h4 {
  font-family: Bai Jamjuree;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.3913043141365051px;
  text-align: center;
  color: #4c545c;
}
.section1-text2 {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: center;
  color: #9eabb2;
}

section2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 98px;
}
h5 {
  font-family: Bai Jamjuree;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.4565216898918152px;
  text-align: center;
  color: #4c545c;
}
.section2-text {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: center;
  color: #9eabb2;
}
.devices {
  margin-top: 55px;
  margin-bottom: 82px;
}
section3 {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 108px;
}
.section3-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.section3-icon {
  margin: auto;
  width: 40px;
  height: 31px;
}
h6 {
  font-family: Bai Jamjuree;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.3913043141365051px;
  color: #4c545c;
  text-align: center;
}
.section3-text {
  font-family: Bai Jamjuree;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.11999999731779099px;
  text-align: center;
  color: #9eabb2;
}
section4 {
  margin-top: 131px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.section4-icon {
  height: 41px;
  width: 139px;
  margin: auto;
}
section5 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 170px;
}
.section5-title {
  font-family: Bai Jamjuree;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  color: #4c545c;
}
.section5-text {
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #9eabb2;
}
.button-div-bottom {
  display: grid;
  gap: 24px;
  padding: auto;
  margin: auto;
}
footer {
  margin-top: 170px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding-top: 55px;
}
.logo2 {
  height: 55px;
  width: 55px;
  margin: auto;
}
.a-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
a {
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.13500000536441803px;
  text-align: center;
  color: #4c545c;
  text-decoration: none;
}
.one{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.two{
 display: flex;
 flex-direction: column;
 gap: 20px;
}
a:hover{
  color:#aaeee4;
}
.icons {
  justify-content: center;
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.icon {
  display: inline-block;
  background-size: cover;
  width: 24px;
  height: 24px;
}
.facebook{
  background-image: url(./images/icon-facebook.svg);
}
.facebook:hover,
.facebook:focus{
  background-image: url(./images/hover-fb.svg);
}
.instagram{
  background-image: url(./images/icon-instagram.svg);
}
.instagram:hover,
.instagram:focus{
  background-image: url(./images/hover-insta.svg);
}
.twitter{
  background-image: url(./images/icon-twitter.svg);
}
.twitter:hover,
.twitter:focus{
  background-image: url(./images/hover-twitter.svg);
}
@media screen and (min-width: 1020px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }
  .header-text-div {
    gap: 16px;
    margin: 0px 355px;
  }
  h2 {
    font-size: 46px;
    line-height: 58px;
  }
  .header-text {
    font-size: 20px;
    line-height: 30px;
  }
  .button-div {
    flex-direction: row;
    gap: 16px;
    margin: auto;
  }
  main {
    padding: auto;
  }
  section1 {
    display: grid;
    grid-template-areas:
      "text-container text-container"
      "computer-image section1-container";
    grid-gap: 120px;
  }
  .text-container {
    gap: 19px;
    grid-area: text-container;
    padding: 0px 355px;
  }
  h3 {
    font-size: 36px;
    line-height: 45px;
  }
  .section1-text {
    font-size: 18px;
    line-height: 30px;
  }
  .computer-image {
    margin-top: 33px;
    grid-area: computer-image;
    margin-left: -100px;
  }
  .section1-container {
    gap: 56px;
    grid-area: section1-container;
    margin-left: -250px;
    margin-top: 100px;
  }
  .container-box {
    gap: 8px;
  }
  h4 {
    text-align: left;
  }
  .section1-text2 {
    line-height: 30px;
    text-align: left;
    height: 60px;
    width: 350px;
  }
  section2 {
    gap: 19px;
    margin-top: 150px;
    padding: 0px 357px;
  }
  h5 {
    font-size: 36px;
    line-height: 45px;
  }
  .section2-text {
    font-family: Bai Jamjuree;
    font-size: 18px;
    line-height: 30px;
  }
  .devices {
    margin-top: 98px;
    margin-bottom: 142px;
  }
  section3 {
    flex-direction: row;
    gap: 30px;
    margin-top: 108px;
    padding: 0 165px;
  }
  .section3-box {
    flex-direction: column;
    gap: 16px;
  }
  .section3-icon {
    margin: auto;
    height: 40px;
    width: 47px;
  }
  .section3-text {
    line-height: 30px;
  }
  section4 {
    margin-top: 162px;
    flex-direction: row;
    padding: auto;
  }
  .section4-icon {
    height: 41px;
    width: 139px;
  }
  section5 {
    padding: auto;
    justify-content: center;
    gap: 25px;
  }
  .section5-title {
    font-size: 36px;
    line-height: 45px;
  }
  .section5-text {
    font-size: 18px;
    line-height: 30px;
  }
  .button-div-bottom {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
    padding: auto;
    margin: auto;
  }
  footer {
    background: #f2f2f2;
    flex-direction: row;
    gap: 138px;
    text-align: center;
    padding: 39px 165px;
    width:100vh;
  }
  .logo2 {
    height: 55px;
    width: 55px;
    margin: unset;
  }
  .a-div {
   flex-direction: row;
   gap:30px;
  }
a{
  text-align: left;
  width: 160px;
}
  .icons {
    justify-content: center;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    margin-left: 220px;
  }
}
